pipeline/Load_data_Bronze.json
{
	"name": "Load_data_Bronze",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Generic_csv_dataset",
						"type": "DatasetReference",
						"parameters": {
							"root_path": "sourcedata",
							"directory": "config_files",
							"file_name": "load_config.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check File Exist or not",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "Generic_parquet_dataset",
									"type": "DatasetReference",
									"parameters": {
										"root_path": "outputdata",
										"directory": {
											"value": "@item().targetpath",
											"type": "Expression"
										},
										"file_name": {
											"value": "@split(item().tablename,'.')[1]",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "ParquetReadSettings"
								}
							}
						},
						{
							"name": "If condition for exists or not exists",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check File Exist or not",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Check File Exist or not').output.exists,1)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "ParquetSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "ParquetReadSettings"
												}
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Generic_parquet_dataset",
												"type": "DatasetReference",
												"parameters": {
													"root_path": "outputdata",
													"directory": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"file_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Generic_parquet_dataset",
												"type": "DatasetReference",
												"parameters": {
													"root_path": "outputdata",
													"directory": {
														"value": "@concat(\n  'archive/path/',\n  formatDateTime(utcNow(),'yyyy'), '/',\n  formatDateTime(utcNow(),'MM'), '/',\n  formatDateTime(utcNow(),'dd'), '/',\n  split(item().tablename,'.')[1]\n)",
														"type": "Expression"
													},
													"file_name": "@split(item().tablename,'.')[1]"
												}
											}
										]
									}
								]
							}
						},
						{
							"name": "If Condition for file full or inc load",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "If condition for exists or not exists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().loadtype,'Full')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "inc lkp fetch log ADB",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat('select coalesce(cast(max(loaddate) as date),''','1900-01-01',''') as last_fetched_date from audit.load_logs where',' data_source=''',item().datasource,''' and tablename=''',item().tablename,'''')",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "AzureDatabricksDeltaLakeDataset1",
												"type": "DatasetReference",
												"parameters": {
													"dataBricks_database": "''",
													"dataBricks_table": "''"
												}
											},
											"firstRowOnly": true
										}
									},
									{
										"name": "inc - Copy data2",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "inc lkp fetch log ADB",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat('select *,''',item().datasource,''' as datasource from ',item().tablename,' where ',item().watermark,' >= ''',activity('inc lkp fetch log ADB').output.firstRow.last_fetched_date,'''')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Generic_sql_dataset",
												"type": "DatasetReference",
												"parameters": {
													"DB_Name": {
														"value": "@item().database",
														"type": "Expression"
													},
													"schema": "dbo",
													"table_name": "''"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Generic_parquet_dataset",
												"type": "DatasetReference",
												"parameters": {
													"root_path": "outputdata",
													"directory": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"file_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "inc - insert audit log",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "inc - Copy data2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat(\n  'insert into audit.load_logs (data_source, tablename, numberofrowscopied, watermarkcolumnname, loaddate) values (',\n  '''', item().datasource, '''', ', ',\n  '''', item().tablename, '''', ', ',\n  activity('inc - Copy data2').output.rowsCopied, ', ',\n  '''', item().watermark, '''', ', ',\n  '''', formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '''',\n  ')'\n)",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "AzureDatabricksDeltaLakeDataset1",
												"type": "DatasetReference",
												"parameters": {
													"dataBricks_database": "''",
													"dataBricks_table": "''"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Full - Copy data 2 Bronze",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "ParquetSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "ParquetWriteSettings"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Generic_sql_dataset",
												"type": "DatasetReference",
												"parameters": {
													"DB_Name": {
														"value": "@item().database",
														"type": "Expression"
													},
													"schema": "dbo",
													"table_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Generic_parquet_dataset",
												"type": "DatasetReference",
												"parameters": {
													"root_path": "outputdata",
													"directory": {
														"value": "@item().targetpath",
														"type": "Expression"
													},
													"file_name": {
														"value": "@split(item().tablename,'.')[1]",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "full -  insert audit log",
										"type": "Lookup",
										"dependsOn": [
											{
												"activity": "Full - Copy data 2 Bronze",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureDatabricksDeltaLakeSource",
												"query": {
													"value": "@concat(\n  'insert into audit.load_logs (data_source, tablename, numberofrowscopied, watermarkcolumnname, loaddate) values (',\n  '''', item().datasource, '''', ', ',\n  '''', item().tablename, '''', ', ',\n  activity('Full - Copy data 2 Bronze').output.rowsCopied, ', ',\n  '''', item().watermark, '''', ', ',\n  '''', formatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'), '''',\n  ')'\n)",
													"type": "Expression"
												}
											},
											"dataset": {
												"referenceName": "AzureDatabricksDeltaLakeDataset1",
												"type": "DatasetReference",
												"parameters": {
													"dataBricks_database": "''",
													"dataBricks_table": "''"
												}
											},
											"firstRowOnly": false
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-01-31T11:34:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}